{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="form-container">
    <form action="/login" method="post" class="styled-form">
        <h2>Login</h2>
        <div class="form-group">
            <label for="username">Username</label>
            <input autocomplete="off" autofocus name="username" placeholder="Username" type="text">
            <p class="message">{{user}}</p>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" placeholder="Password" type="password">
            <p class="message">{{password}}</p>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
        <p class="register-text">
            Don't have an account? 
            <a class="link" href="\register">Register</a>
        </p>
    </form>
</div>
{% endblock %}